@import url(https://fonts.google.com/specimen/Poppins);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background-color: silver;
}

.wrapper {
 width: 420px;
 background: purple;
 color: white;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
 }

 .wrapper .input-box {
  font-size: 12px;
  text-align: center;

 } 